<div class="breadcrumbs">
    <div class="col-sm-4">
      <div class="page-header float-left">
        <div class="page-title">
          <h1>Trang chủ</h1>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="page-header float-right">
        <div class="page-title">
          <ol class="breadcrumb text-right">
            <li class="active">Trang chủ</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <div class="content mt-3">
    <div class="col-sm-12">
      <div
        class="alert  alert-success alert-dismissible fade show"
        role="alert"
      >
        <span class="badge badge-pill badge-success">Thành công</span> Bạn
        có thể xem các thông tin quan trọng
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>

    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-flat-color-1" style="min-height: 200px">
        <div class="card-body pb-0">
          <h4 class="mb-0">
            <span class="count">954</span>
          </h4>
          <p class="text-light">Sản phẩm đang được bán</p>
        </div>
      </div>
    </div>
    <!--/.col-->

    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-flat-color-3" style="min-height: 200px">
        <div class="card-body pb-0">
          <h4 class="mb-0">
            <span class="count">1999</span>
          </h4>
          <p class="text-light">Người dùng</p>
        </div>
      </div>
    </div>
    <!--/.col-->

    <!--/.col-->

    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-flat-color-4" style="min-height: 200px">
        <div class="card-body pb-0">
          <h4 class="mb-0">
            <span class="count">254</span>
          </h4>
          <p class="text-light">Sản phẩm đã giao dịch thành công</p>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>