<div class="main-content">
  <div class="changepassword-page container">
    <div class="changepassword-content">
      <form method="POST" id="signup-form" class="signup-form" onsubmit="return checkNewPassword()">
        <h2 class="login-form-title">Đổi mật khẩu</h2>
        <div class="form-group p-t-15">
          <span class="label-input">Mật khẩu hiện tại</span>
          <input
            type="password"
            class="form-input"
            name="oldPassword"
            id="oldPassword"
            placeholder="Nhập mật khẩu"
          />
        </div>
        <div class="form-group">
          <span class="label-input">Mật khẩu mới</span>
          <input
            type="password"
            class="form-input"
            name="newPassword"
            id="newPassword"
            placeholder="Nhập mật khẩu mới"
          />
        </div>
        <div class="form-group">
          <span class="label-input">Nhập lại mật khẩu mới</span>
          <input
            type="password"
            class="form-input"
            name="re_newPassword"
            id="re_newPassword"
            placeholder="Nhập lại mật khẩu mới"
          />
        </div>
        <div class="text-center fs-20">
          <i class="fa fa-arrow-left" style="color: #007bff;"></i>
          <a href="/user">
            Quay lại
          </a>
        </div>
        <div class="container-login-form-btn p-tb-25">
          <div class="wrap-login-form-btn">
            <div class="login-form-bgbtn"></div>
            <button class="login-form-btn">
              Đổi mật khẩu
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
