<div class="main-content">
    <div class="forgetpassword-page container">
      <div class="wrap-login text-center">
        <form method="POST" id="forgetpassword-form" class="login-form">
          <span class="login-form-title p-tb-15">
  
            Nhập mật khẩu mới
          </span>
          <div class="text-center">
            <!--Notification-->
            <h5 style="color: rgb(27, 206, 27)"><%= success %></h5>
            <!--Notification-->
            <h5 style="color: red;"><%= error %></h5>
          </div>
  
          <div class="form-group">
            
            <input type="password" class="form-input" name="newPassword" id="newPassword"
              placeholder="Nhập mật khẩu mới" />
          </div>
          <div class="form-group">
            
            <input type="password" class="form-input" name="re_newPassword" id="re_newPassword"
              placeholder="Nhập lại mật khẩu mới" />
          </div>
          <div class="container-login-form-btn p-b-25">
            <div class="wrap-login-form-btn">
              <div class="login-form-bgbtn"></div>
              <button class="login-form-btn">
                Thay đổi mật khẩu
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  