<div class="main-content">
    <div class="">
        <div class="top-product">
            <div class="header-top-product">
                <h2 class="text-center p-tb-20 font-weight-bold">
                    TOP 5 SẢN PHẨM GẦN KẾT THÚC
                </h2>
            </div>
            <div class="row content-top-product">
                <div class="col-md-2 col-lg-2">
                    <img src="images/laptop/laptop-rog-strix.png" alt="image" width="200px" height="200px" class="m-b-5" />
                    <h5>SAM SUNG A7</h5>
                    <p>Giá hiện tại: 5$</p>
                    <p>Giá cao nhất: admin</p>
                    <p>Giá mua ngay: 10$</p>
                    <p>Ngày đăng: 10/11/2019</p>
                    <p>Thời gian còn lại: 2:01:02s</p>
                    <p>Số lượt ra giá hiện tại: 5</p>
                    <div class="prd-bottom">
                        <a href="#" class="social-info">
                            <span class="fa fa-heart"></span>
                            <p class="hover-text">Yêu thích</p>
                        </a>
                        <a href="productdetail.html" class="social-info">
                            <span class="fa fa-info"></span>
                            <p class="hover-text">Chi tiết</p>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-lg-2">
                    <img src="images/laptop/laptop-redmibook.png" alt="image" width="200px" height="200px" class="m-b-5" />
                    <h5>SAM SUNG A7</h5>
                    <p>Giá hiện tại: 5$</p>
                    <p>Người đặt cao nhất: admin</p>
                    <p>Giá mua ngay: 10$</p>
                    <p>Ngày đăng: 10/11/2019</p>
                    <p>Thời gian còn lại: 2:01:02s</p>
                    <p>Số lượt ra giá hiện tại: 5</p>
                    <div class="prd-bottom">
                        <a href="#" class="social-info">
                            <span class="fa fa-heart"></span>
                            <p class="hover-text">Yêu thích</p>
                        </a>
                        <a href="productdetail.html" class="social-info">
                            <span class="fa fa-info"></span>
                            <p class="hover-text">Chi tiết</p>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-lg-2">
                    <img src="images/laptop/laptop-xps15.png" alt="image" width="200px" height="200px" class="m-b-5" />
                    <h5>SAM SUNG A7</h5>
                    <p>Giá hiện tại: 5$</p>
                    <p>Người đặt cao nhất: admin</p>
                    <p>Giá mua ngay: 10$</p>
                    <p>Ngày đăng: 10/11/2019</p>
                    <p>Thời gian còn lại: 2:01:02s</p>
                    <p>Số lượt ra giá hiện tại: 5</p>
                    <div class="prd-bottom">
                        <a href="#" class="social-info">
                            <span class="fa fa-heart"></span>
                            <p class="hover-text">Yêu thích</p>
                        </a>
                        <a href="productdetail.html" class="social-info">
                            <span class="fa fa-info"></span>
                            <p class="hover-text">Chi tiết</p>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-lg-2">
                    <img src="images/phone/phone4.png" alt="image" width="200px" height="200px" class="m-b-5" />
                    <h5>SAM SUNG A7</h5>
                    <p>Giá hiện tại: 5$</p>
                    <p>Người đặt cao nhất: admin</p>
                    <p>Giá mua ngay: 10$</p>
                    <p>Ngày đăng: 10/11/2019</p>
                    <p>Thời gian còn lại: 2:01:02s</p>
                    <p>Số lượt ra giá hiện tại: 5</p>
                    <div class="prd-bottom">
                        <a href="#" class="social-info">
                            <span class="fa fa-shopping-bag"></span>
                            <p class="hover-text">Yêu thích</p>
                        </a>
                        <a href="productdetail.html" class="social-info">
                            <span class="fa fa-info"></span>
                            <p class="hover-text">Chi tiết</p>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-lg-2">
                    <img src="images/phone/phone5.png" alt="image" width="200px" height="200px" class="m-b-5" />
                    <h5>SAM SUNG A7</h5>
                    <p>Giá hiện tại: 5$</p>
                    <p>Người đặt cao nhất: admin</p>
                    <p>Giá mua ngay: 10$</p>
                    <p>Ngày đăng: 10/11/2019</p>
                    <p>Thời gian còn lại: 2:01:02s</p>
                    <p>Số lượt ra giá hiện tại: 5</p>
                    <div class="prd-bottom">
                        <a href="#" class="social-info">
                            <span class="fa fa-shopping-bag"></span>
                            <p class="hover-text">Yêu thích</p>
                        </a>
                        <a href="productdetail.html" class="social-info">
                            <span class="fa fa-info"></span>
                            <p class="hover-text">Chi tiết</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="top-product">
            <div class="header-top-product">
                <h2 class="text-center p-tb-20 font-weight-bold">
                    TOP 5 SẢN PHẨM CÓ NHIỀU LƯỢT RA GIÁ NHẤT
                </h2>
            </div>
            <div class="row content-top-product">
                <div class="col-md-2 col-lg-2">
                    <img src="images/phone/phone1.png" alt="image" width="200px" height="200px" class="m-b-5" />
                    <h5>SAM SUNG A7</h5>
                    <p>Giá hiện tại: 5$</p>
                    <p>Người đặt cao nhất: admin</p>
                    <p>Giá mua ngay: 10$</p>
                    <p>Ngày đăng: 10/11/2019</p>
                    <p>Thời gian còn lại: 2:01:02s</p>
                    <p>Số lượt ra giá hiện tại: 5</p>
                    <div class="prd-bottom">
                        <a href="#" class="social-info">
                            <span class="fa fa-shopping-bag"></span>
                            <p class="hover-text">Yêu thích</p>
                        </a>
                        <a href="productdetail.html" class="social-info">
                            <span class="fa fa-info"></span>
                            <p class="hover-text">Chi tiết</p>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-lg-2">
                    <img src="images/laptop/laptop-vivobook-14.png" alt="image" width="200px" height="200px" class="m-b-5" />
                    <h5>SAM SUNG A7</h5>
                    <p>Giá hiện tại: 5$</p>
                    <p>Người đặt cao nhất: admin</p>
                    <p>Giá mua ngay: 10$</p>
                    <p>Ngày đăng: 10/11/2019</p>
                    <p>Thời gian còn lại: 2:01:02s</p>
                    <p>Số lượt ra giá hiện tại: 5</p>
                    <div class="prd-bottom">
                        <a href="#" class="social-info">
                            <span class="fa fa-shopping-bag"></span>
                            <p class="hover-text">Yêu thích</p>
                        </a>
                        <a href="productdetail.html" class="social-info">
                            <span class="fa fa-info"></span>
                            <p class="hover-text">Chi tiết</p>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-lg-2">
                    <img src="images/phone/phone5.png" alt="image" width="200px" height="200px" class="m-b-5" />
                    <h5>SAM SUNG A7</h5>
                    <p>Giá hiện tại: 5$</p>
                    <p>Người đặt cao nhất: admin</p>
                    <p>Giá mua ngay: 10$</p>
                    <p>Ngày đăng: 10/11/2019</p>
                    <p>Thời gian còn lại: 2:01:02s</p>
                    <p>Số lượt ra giá hiện tại: 5</p>
                    <div class="prd-bottom">
                        <a href="#" class="social-info">
                            <span class="fa fa-shopping-bag"></span>
                            <p class="hover-text">Yêu thích</p>
                        </a>
                        <a href="productdetail.html" class="social-info">
                            <span class="fa fa-info"></span>
                            <p class="hover-text">Chi tiết</p>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-lg-2">
                    <img src="images/phone/phone2.png" alt="image" width="200px" height="200px" class="m-b-5" />
                    <h5>SAM SUNG A7</h5>
                    <p>Giá hiện tại: 5$</p>
                    <p>Người đặt cao nhất: admin</p>
                    <p>Giá mua ngay: 10$</p>
                    <p>Ngày đăng: 10/11/2019</p>
                    <p>Thời gian còn lại: 2:01:02s</p>
                    <p>Số lượt ra giá hiện tại: 5</p>
                    <div class="prd-bottom">
                        <a href="#" class="social-info">
                            <span class="fa fa-shopping-bag"></span>
                            <p class="hover-text">Yêu thích</p>
                        </a>
                        <a href="productdetail.html" class="social-info">
                            <span class="fa fa-info"></span>
                            <p class="hover-text">Chi tiết</p>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-lg-2">
                    <img src="images/phone/phone3.png" alt="image" width="200px" height="200px" class="m-b-5" />
                    <h5>SAM SUNG A7</h5>
                    <p>Giá hiện tại: 5$</p>
                    <p>Giá cao nhất: admin</p>
                    <p>Giá mua ngay: 10$</p>
                    <p>Ngày đăng: 10/11/2019</p>
                    <p>Thời gian còn lại: 2:01:02s</p>
                    <p>Số lượt ra giá hiện tại: 5</p>
                    <div class="prd-bottom">
                        <a href="#" class="social-info">
                            <span class="fa fa-shopping-bag"></span>
                            <p class="hover-text">Yêu thích</p>
                        </a>
                        <a href="productdetail.html" class="social-info">
                            <span class="fa fa-info"></span>
                            <p class="hover-text">Chi tiết</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="top-product">
            <div class="header-top-product">
                <h2 class="text-center p-tb-20 font-weight-bold">
                    TOP 5 SẢN PHẨM CÓ GIÁ CAO NHẤT
                </h2>
            </div>
            <div class="row content-top-product">
                <div class="col-md-2 col-lg-2">
                    <img src="images/laptop/laptop-macbookpro-2017.png" alt="image" width="200px" height="200px" class="m-b-5" />
                    <h5>SAM SUNG A7</h5>
                    <p>Giá hiện tại: 5$</p>
                    <p>Người đặt cao nhất: admin</p>
                    <p>Giá mua ngay: 10$</p>
                    <p>Ngày đăng: 10/11/2019</p>
                    <p>Thời gian còn lại: 2:01:02s</p>
                    <p>Số lượt ra giá hiện tại: 5</p>
                    <div class="prd-bottom">
                        <a href="#" class="social-info">
                            <span class="fa fa-shopping-bag"></span>
                            <p class="hover-text">Yêu thích</p>
                        </a>
                        <a href="productdetail.html" class="social-info">
                            <span class="fa fa-info"></span>
                            <p class="hover-text">Chi tiết</p>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-lg-2">
                    <img src="images/laptop/laptop-redmibook.png" alt="image" width="200px" height="200px" class="m-b-5" />
                    <h5>SAM SUNG A7</h5>
                    <p>Giá hiện tại: 5$</p>
                    <p>Người đặt cao nhất: admin</p>
                    <p>Giá mua ngay: 10$</p>
                    <p>Ngày đăng: 10/11/2019</p>
                    <p>Thời gian còn lại: 2:01:02s</p>
                    <p>Số lượt ra giá hiện tại: 5</p>
                    <div class="prd-bottom">
                        <a href="#" class="social-info">
                            <span class="fa fa-shopping-bag"></span>
                            <p class="hover-text">Yêu thích</p>
                        </a>
                        <a href="productdetail.html" class="social-info">
                            <span class="fa fa-info"></span>
                            <p class="hover-text">Chi tiết</p>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-lg-2">
                    <img src="images/phone/phone4.png" alt="image" width="200px" height="200px" class="m-b-5" />
                    <h5>SAM SUNG A7</h5>
                    <p>Giá hiện tại: 5$</p>
                    <p>Người đặt cao nhất: admin</p>
                    <p>Giá mua ngay: 10$</p>
                    <p>Ngày đăng: 10/11/2019</p>
                    <p>Thời gian còn lại: 2:01:02s</p>
                    <p>Số lượt ra giá hiện tại: 5</p>
                    <div class="prd-bottom">
                        <a href="#" class="social-info">
                            <span class="fa fa-shopping-bag"></span>
                            <p class="hover-text">Yêu thích</p>
                        </a>
                        <a href="productdetail.html" class="social-info">
                            <span class="fa fa-info"></span>
                            <p class="hover-text">Chi tiết</p>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-lg-2">
                    <img src="images/phone/phone2.png" alt="image" width="200px" height="200px" class="m-b-5" />
                    <h5>SAM SUNG A7</h5>
                    <p>Giá hiện tại: 5$</p>
                    <p>Người đặt cao nhất: admin</p>
                    <p>Giá mua ngay: 10$</p>
                    <p>Ngày đăng: 10/11/2019</p>
                    <p>Thời gian còn lại: 2:01:02s</p>
                    <p>Số lượt ra giá hiện tại: 5</p>
                    <div class="prd-bottom">
                        <a href="#" class="social-info">
                            <span class="fa fa-shopping-bag"></span>
                            <p class="hover-text">Yêu thích</p>
                        </a>
                        <a href="productdetail.html" class="social-info">
                            <span class="fa fa-info"></span>
                            <p class="hover-text">Chi tiết</p>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-lg-2">
                    <img src="images/phone/phone5.png" alt="image" width="200px" height="200px" class="m-b-5" />
                    <h5>SAM SUNG A7</h5>
                    <p>Giá hiện tại: 5$</p>
                    <p>Người đặt cao nhất: admin</p>
                    <p>Giá mua ngay: 10$</p>
                    <p>Ngày đăng: 10/11/2019</p>
                    <p>Thời gian còn lại: 2:01:02s</p>
                    <p>Số lượt ra giá hiện tại: 5</p>
                    <div class="prd-bottom">
                        <a href="#" class="social-info">
                            <span class="fa fa-shopping-bag"></span>
                            <p class="hover-text">Yêu thích</p>
                        </a>
                        <a href="productdetail.html" class="social-info">
                            <span class="fa fa-info"></span>
                            <p class="hover-text">Chi tiết</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>