<div class="main-content">
    <div class="login-page container" style="display: flex;">
        <div class="wrap-login text-center">
            <form method="POST" id="login-form" class="login-form validate-form" style="display: block">
                <span class="login-form-title p-tb-15">
                    Đăng nhập
                </span>

                <!--Notification-->
                <h5 style="color: red;"><%= error %></h5>

                <div class="wrap-input text-left validate-input" data-validate="Username is required">
                    <span class="label-input">Tài khoản</span>
                    <input class="input" type="text" name="username" placeholder="Nhập tài khoản"/>
                    <span class="focus-input" data-symbol="&#xf206;"></span>
                </div>

                <div class="wrap-input text-left validate-input p-t-5" data-validate="Password is required">
                    <span class="label-input">Mật khẩu</span>
                    <input class="input" type="password" name="password" placeholder="Nhập mật khẩu"/>
                    <span class="focus-input" data-symbol="&#xf190;"></span>
                </div>

                <div class="text-right p-tb-20">
                    <a href="/password_reset" class="forget-pw-btn">
                        Quên mật khẩu?
                    </a>
                </div>

                <div class="container-login-form-btn">
                    <div class="wrap-login-form-btn">
                        <div class="login-form-bgbtn"></div>
                        <button class="login-form-btn">
                            Đăng nhập
                        </button>
                    </div>
                </div>

                <div class=" text-center p-t-54 p-b-20">
                    <span>
                        Hoặc đăng nhập bằng cách
                    </span>
                </div>

                <div class="flex-c-m">
                    <a href="/login/facebook" class="login-social-item bg1">
                        <i class="fa fa-facebook"></i>
                    </a>

                    <a href="#" class="login-social-item bg2">
                        <i class="fa fa-twitter"></i>
                    </a>

                    <a href="/login/google" class="login-social-item bg3">
                        <i class="fa fa-google"></i>
                    </a>
                </div>

                <div class="flex-col-c p-t-65">
                    <span class=" p-b-17">
                        Hoặc đăng ký tài khoản
                    </span>

                    <a href="/register" class="p-b-15 signup-btn">
                        Đăng ký
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>