<div class="main-content">
  <div class="forgetpassword-page container">
    <div class="wrap-login text-center">
      <form method="POST" id="forgetpassword-form" class="login-form">
        <span class="login-form-title p-tb-15">
          Quên mật khẩu
        </span>
        <div
          class="wrap-input text-left validate-input"
          data-validate="Username is required"
        >
          <span class="label-input">Tài khoản</span>
          <input
            class="input"
            type="text"
            name="username"
            placeholder="Nhập tài khoản"
            required
          />
          <span class="focus-input" data-symbol="&#xf206;"></span>
        </div>

        <div
          class="wrap-input text-left validate-input p-t-5"
          data-validate="Password is required"
        >
          <span class="label-input">Email</span>
          <input
            class="input"
            type="email"
            name="email"
            placeholder="Nhập email"
            required
          />
          <span class="focus-input" data-symbol="&#xf15a;"></span>
        </div>
        <div class="text-center p-tb-20">
          <i class="fa fa-arrow-left" style="color: #007bff;"></i>
          <a href="/login">
            Quay lại
          </a>
        </div>
        <div class="container-login-form-btn p-b-25">
          <div class="wrap-login-form-btn">
            <div class="login-form-bgbtn"></div>
            <button class="login-form-btn">
              Lấy lại mật khẩu
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
