<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.7/css/fileinput.min.css"
/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.1/js/fileinput.min.js"></script>

<script
  src="https://cdn.tiny.cloud/1/er3jle0ey3awkybppbmddax0l2mudhq8ct2uhhmvogt27rrp/tinymce/5/tinymce.min.js"
  referrerpolicy="origin"
></script>
<script>
  tinymce.init({ selector: "textarea" });
</script>

<div class="main-content">
  <div class="registration-page container p-tb-40">
    <div class="post-content">
      <form
        method="POST"
        id="post-form"
        class="post-form"
        enctype="multipart/form-data"
      >
        <h1 class="post-form-title text-center">Đăng sản phẩm</h1>
        <div class="row p-t-15">
          <div class="col-6">
            <div class="form-group">
              <label for="name" class="label-input">Tên sản phẩm</label>
              <input
                type="text"
                class="form-input"
                name="name"
                id="name"
                placeholder="Nhập tên sản phẩm"
              />
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="selectCat" class="label-input"> Chọn danh mục </label>
              <select class="form-input" name="selectCat" id="selectcat">
                <% cats.forEach(function(cat){ %>
                <optgroup label="<%= cat.name%>">
                  <% cat.child.forEach(function(child){ %>
                  <option value="<%= child%>"><%= child%></option>
                  <% });%>
                </optgroup>
                <% });%>
              </select>
            </div>
          </div>
          <input
            type="hidden"
            class="selectCatChild"
            name="selectCatChild"
            value="<%= cats[0].name%>"
          />
          <div class="col-6">
            <div class="form-group">
              <label for="startingPrice" class="label-input"
                >Giá khởi điểm (đơn vị: vnđ)</label
              >
              <input
                type="number"
                class="form-input"
                step="10000"
                name="startingPrice"
                id="startingPrice"
                min="10000"
                value="10000"
                placeholder="Nhập giá khởi điểm (vnđ)"
              />
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="stepPrice" class="label-input"
                >Bước giá (đơn vị: vnđ)</label
              >
              <input
                type="number"
                class="form-input"
                step="10000"
                name="stepPrice"
                id="stepPrice"
                min="10000"
                value="10000"
                placeholder="Nhập bước giá (vnđ)"
              />
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="bestPrice" class="label-input"
                >Giá mua ngay (đơn vị: vnđ)</label
              >
              <input
                type="number"
                step="10000"
                class="form-input"
                name="bestPrice"
                id="bestPrice"
                value="0"
                placeholder="Nhập giá mua ngày (vnđ)"
              />
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label class="label-input">Tự động gia hạn</label>
              <input
                type="radio"
                name="extend"
                value="yes"
                class="m-l-20 d-inline"
              />
              <span class="fs-16">Có</span> <br />
              <input
                type="radio"
                name="extend"
                value="no"
                class="m-l-20 d-inline"
              />
              <span class="fs-16">Không</span> <br />
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              <label for="description" class="label-input"
                >Mô tả chi tiết sản phẩm</label
              >
              <textarea
                name="description"
                id="description"
                cols="30"
                rows="10"
                class="form-input w-100"
                placeholder="Nhập mô tả sản phẩm"
              ></textarea>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              <label for="file" class="label-input"
                >Đính kèm ảnh sản phẩm</label
              >
              <input
                id="avatar"
                name="avatar"
                type="file"
                class="file avatar"
                data-show-upload="false"
                data-show-caption="true"
                data-msg-placeholder="Select {files} for upload..."
                multiple
              />
            </div>
          </div>
        </div>
        <div class="text-center fs-20">
          <i class="fa fa-arrow-left" style="color: #007bff;"></i>
          <a href="/user">
            Quay lại
          </a>
        </div>
        <div class="container-login-form-btn p-tb-25">
          <div class="wrap-login-form-btn  w-25">
            <div class="login-form-bgbtn"></div>
            <button type="submit" class="login-form-btn">
              Đăng sản phẩm
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
