<div class="main-content">
    <div class="signup-page container">
        <div class="wrap-login text-center">
            <form method="POST" id="signup-form" class="login-form">
                <span class="login-form-title p-tb-15">
                    Đăng ký
                </span>
                <div class="wrap-input text-left validate-input" data-validate="Username is required">
                    <span class="label-input">Tài khoản</span>
                    <input class="input" type="text" name="username" placeholder="Nhập tài khoản" required />
                    <span class="focus-input" data-symbol="&#xf206;"></span>
                </div>

                <div class="wrap-input text-left validate-input p-t-5" data-validate="Password is required">
                    <span class="label-input">Mật khẩu</span>
                    <input type="password" class="input" name="password" id="password" placeholder="Mật khẩu"
                        required />
                    <span class="focus-input" data-symbol="&#xf190;"></span>
                    <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
                </div>

                <div class="wrap-input text-left validate-input p-t-5" data-validate="Password is required">
                    <span class="label-input">Nhập lại mật khẩu</span>
                    <input type="password" class="input" name="re_password" id="re_password"
                        placeholder="Nhập lại mật khẩu" required />
                    <span class="focus-input" data-symbol="&#xf190;"></span>
                </div>

                <div class="wrap-input text-left validate-input p-t-5" data-validate="Name is required">
                    <span class="label-input">Họ tên</span>
                    <input type="text" class="input" name="name" id="name" placeholder="Nhập họ tên" required />
                    <span class="focus-input" data-symbol="&#xf10c;"></span>
                </div>

                <div class="wrap-input text-left validate-input p-t-5" data-validate="Phone is required">
                    <span class="label-input">Số điện thoại</span>
                    <input type="text" class="input" name="phone" id="phone" placeholder="Nhập SĐT" required />
                    <span class="focus-input" data-symbol="&#xf2be;"></span>
                </div>

                <div class="wrap-input text-left validate-input p-t-5" data-validate="Email is required">
                    <span class="label-input">Email</span>
                    <input class="input" type="email" name="email" placeholder="Nhập email" required />
                    <span class="focus-input" data-symbol="&#xf15a;"></span>
                </div>

                <div class="wrap-input text-left validate-input p-t-5" data-validate="Address is required">
                    <span class="label-input">Địa chỉ</span>
                    <input type="text" class="input" name="address" id="address" placeholder="Nhập địa chỉ" required />
                    <span class="focus-input" data-symbol="&#xf299;"></span>
                </div>
                <div class="form-group">
                    <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                    <label for="agree-term" class="label-agree-term"><span><span></span></span>Tôi đã đọc và đồng ý với
                        <a href="#" class="term-service">Điều khoản sử dụng</a></label>
                </div>

                <p class="loginhere">
                    Đã có tài khoản ?
                    <a href="/login" class="loginhere-link">Đăng nhập</a>
                </p>

                <div class="container-login-form-btn p-b-25">
                    <div class="wrap-login-form-btn">
                        <div class="login-form-bgbtn"></div>
                        <button class="login-form-btn">
                            Đăng ký
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>