<div class="main-content">
  <div class="registration-page container p-tb-40">
    <div class="post-content">
      <form
        method="POST"
        id="post-form"
        class="post-form"
      >
        <h1 class="post-form-title text-center">Phiếu đánh giá</h1>
        <div class="row p-t-15">
          <div class="col-6">
            <div class="form-group">
              <label for="name" class="label-input">1: Đánh giá</label>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="like" id="exampleRadios1" value="true" checked>
                <label class="form-check-label" for="exampleRadios1">
                  (+1)
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="like" id="exampleRadios2" value="false">
                <label class="form-check-label" for="exampleRadios2">
                  (-1)
                </label>
              </div>
            </div>
          </div>
          
          <div class="col-12">
            <div class="form-group">
              <label for="description" class="label-input"
                >2: Nhận xét</label
              >
              <textarea
                name="comment"
                id="description"
                cols="30"
                rows="10"
                class="form-input w-100"
                placeholder="Nhập mô tả sản phẩm"
              ></textarea>
            </div>
          </div>
        </div>
        <div class="container-login-form-btn p-tb-25">
          <div class="wrap-login-form-btn  w-25">
            <div class="login-form-bgbtn"></div>
            <button type="submit" class="login-form-btn">
              Gửi đánh giá
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>