<div class="main-content">
  <div class="signup-page container">
    <div class="wrap-login text-center">
      <form method="POST" id="signup-form" class="login-form">
        <span class="login-form-title p-tb-15">
          Cập nhật tài khoản
        </span>
        <div
          class="wrap-input text-left validate-input p-t-5"
          data-validate="Name is required"
        >
          <span class="label-input">Họ tên</span>
          <input
            type="text"
            class="input"
            name="name"
            id="name"
            placeholder="Nhập họ tên"
          />
          <span class="focus-input" data-symbol="&#xf10c;"></span>
        </div>

        <div
          class="wrap-input text-left validate-input p-t-5"
          data-validate="Phone is required"
        >
          <span class="label-input">Số điện thoại</span>
          <input
            type="text"
            class="input"
            name="phone"
            id="phone"
            placeholder="Nhập SĐT"
          />
          <span class="focus-input" data-symbol="&#xf2be;"></span>
        </div>

        <div
          class="wrap-input text-left validate-input p-t-5"
          data-validate="Email is required"
        >
          <span class="label-input">Email</span>
          <input
            class="input"
            type="email"
            name="email"
            placeholder="Nhập email"
          />
          <span class="focus-input" data-symbol="&#xf15a;"></span>
        </div>

        <div
          class="wrap-input text-left validate-input p-t-5"
          data-validate="Address is required"
        >
          <span class="label-input">Địa chỉ</span>
          <input
            type="text"
            class="input"
            name="address"
            id="address"
            placeholder="Nhập địa chỉ"
          />
          <span class="focus-input" data-symbol="&#xf299;"></span>
        </div>

        <div
          class="wrap-input text-left validate-input p-t-5"
          data-validate="Avatar is required"
        >
          <span class="label-input">Hình đại diện</span>
          <input
            type="file"
            class="fs-18 p-b-15 p-t-5"
            name="avatar"
            id="avatar"
          />
        </div>
        
        <div class="text-center p-tb-20">
          <i class="fa fa-arrow-left" style="color: #007bff;"></i>
          <a href="profile.html">
            Quay lại
          </a>
        </div>
        <div class="container-login-form-btn p-b-25">
          <div class="wrap-login-form-btn">
            <div class="login-form-bgbtn"></div>
            <button type="submit" class="login-form-btn">
              Cập nhật
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
